
body {
	font-family: "Times New Roman";
	font-size: 15px;
}
/*
header[style="background-color: green;"] {
	opacity: 0.7;
}

div[style="background: url(/images/nema.png) no-repeat center;"] {
	opacity: 0.9;
}
*/

.navbar {
	background-color:#C0C0C0;
	color:#000000;
	font-size: 20px;
}

.navbar .navbar-nav a:hover, .navbar .navbar-nav a:focus{
	background-color:#006400;
	color:#ffffff;
	border-radius: 5px;
}

nav[class="navbar navbar-expand-md bg-dark navbar-dark sticky-top"] {
	background-color: green;
}

div#head {
	letter-spacing: 3px;
	word-spacing: 5px;
	font-size: 30px;
	font-family:"Georgia";
}

.content {
	border: 3px solid green;
}

span.what {
	background-color: #f4f4f4;
	width: 50%;
}
